/* Reset and Body Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    padding: 20px;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

/* Header and Back Link Styles */
.back-link {
    color: #0066cc;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.header {
    display: flex;
    gap: 20px;
}

.header-content {
    padding-top: 10px;
}

.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.header-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.header-subtitle {
    font-size: 14px;
    color: #333;
}

.main-title {
    background-color: RGB(196, 227, 243);
    padding: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
}

/* Table Styles */
.info-table {
    width: 100%;
    margin-bottom: 1px;
    border-collapse: collapse;
}

.info-table tr:hover {
    background: #f5f5f5;
}

.info-table td {
    padding: 8px;
    border-bottom: 1px solid #dadada;
}

.info-table-info {
    width: 80%;
    margin-bottom: 1px;
    border-collapse: collapse;
}

.info-table-info tr:hover {
    background: #f5f5f5;
}

.info-table-info td {
    padding: 8px;
    border-bottom: 1px solid #dadada;
}



.label {
    font-weight: 300;
    color: #333;
    font-size: 14px;
}

.value {
    color: #444;
    font-size: 14px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* Bengali Font */
.bengali {
    font-family: 'SolaimanLipi', Arial, sans-serif;
}

/* QR Code */
.qr-code {
    position: absolute;
    right: 20px;
    top: 400px;
    width: 220px;
    height: 220px;
}

/* Footer */
.note {
    margin: 30px 0;
    font-size: 12px;
    color: #666;
    line-height: 1.4;
}

.note a {
    color: #0066cc;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 12px;
}

.note span {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-title,
    .header-subtitle {
        font-size: 14px;
    }

    .qr-code {
        position: static;
        margin: 0 auto;
        display: block;
        width: 150px;
        height: 150px;
    }

    .info-table {
        font-size: 12px;
    }
}